/* html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
} */

/* .trip {
    max-width: 500px;
} */

.trip-summary {
    padding: 16px;
}

.media-list {
    flex-wrap: nowrap !important;
    scroll-snap-type: x mandatory;
}

.media-obj {
    scroll-snap-align: center;
    /* flex: 1 1 auto; */
    /* min-width: 100%; */
    padding: 2px;
}

.media-obj-media {
    display: flex;
}
