html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.app-filter {
    padding: 16px;
}

.trip {
    margin-top: 24px;
    padding: 16px;
}

.media-list {
    flex-wrap: nowrap !important;
    scroll-snap-type: x mandatory;
}

.media-list-tile {
    scroll-snap-align: center;
    max-height: 20em;
    /* flex: 1 1 auto; */
    /* min-width: 100%; */
    /* padding: 2px; */
}

.media-list-tile-media {
    display: block;
}

.ico-string {
    display: inline-block;
}

.ico-string + .ico-string {
    margin-left: 32px;
}

.ico-string > svg {
    margin-right: 16px;
}
